* {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 270px;
}

.welcome {
  font-size: 30px;
  font-weight: 700;
  margin: 30px;
}

.userLine {
  display: flex;
  width: 80%;
  background-color: black;
  margin: 30px;
  height: 3px;
  border-radius: none;
}

.userBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 60%;
  margin: 10px;
  min-height: 300px;
}

.managamentBox {
  display: flex;
  flex: 30%;
  margin: 10px;
  min-height: 250px;
  justify-content: center;
}

.forgotBox {
  display: flex;
  width: 515px;
  margin: 10px;
  height: 170px;
  background-color: #af6ec72f;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px 0px;
}

.userText {
  color: white;
  margin: 10px;
}

.yourGames {
  font-size: 35px;
  font-weight: 700;
  margin-left: 10px;
}

.flex-row-games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

a {
  color: #3a89d3;
}

.a {
  color: #3a89d3;
}
